
.button-choice-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 10px;
    padding: 10px;
}

.button-choice-row:hover {
    background: var(--statusbar-gradstart);
}
