.toast-panel {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 85%;
    margin-left: -100px;
    width: 200px;
    z-index: 100;
    text-align: center;
    padding-top: 5px;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    background: rgba(50, 50, 50, 0.8);
    color: white;
    animation: slowFade ease 3s;
    box-shadow: 0 0 5px rgb(50, 50, 50);
}

.toast-panel-hide {
    animation: fadeOut ease 1s;
    opacity: 0;
}