:root {
    --main-background: #eeeeee;
    --body-text: #040404;
    --statusbar-text: #101010;
    --statusbar-gradstart: rgb(210, 210, 210) 0%;
    --statusbar-gradend: rgb(150, 150, 150) 70%;
    --statusbar-topborder: rgba(130,130,130,0.75);
    --button-colour: #323232;
    --button-text-colour: white;
    --button-border: #212121;
    --folder-entry-text: #101010;
    --folder-entry-text-selected: #010101;
    --folder-entry-text-selected-bg: #dddddd;
    --inputaddon-bg: rgba(100, 100, 100, 0.9);
    --inputaddon-text: #dddddd;
    --inputaddon-hover: rgba(150, 150, 150, 0.9);
    --inputaddon-border: rgba(100, 100, 100, 0.25);
    --image-checkbox: #666666;
    --image-checkbox-bg: rgba( 0, 0, 0, 0.2);
    --image-checkbox-hover-border: #aaaaaa;
    --image-checkbox-hover-bg: lightgray;
    --image-checkbox-checked-border: #777777;
    --image-checkbox-checked-bg: #88ff88;
    --image-checkbox-checked-hover-border: #777777;
    --image-checkbox-checked-hover-bg: grey;
    --grid-image-bg: rgba(50,50,50,0.35);
    --grid-image-selected-bg: rgba(80,120,80,0.75);
    --grid-image-selected-box: rgba(55, 155, 55, 0.7);
    --tag-editor-disabled-bg: rgb( 200, 200, 200 );
    --tag-editor-text: #aaaaaa;
    --tag-editor-border: #444444;
    --tag-editor-bg: #444444;
    --tool-window-text: #777777;
    --tool-window-bg: rgba(50, 60, 50, 0.3);
    --tool-window-shadow: rgba(25, 25, 25, 0.7);
    --tool-window-title: #070707;
    --tool-window-title-bg: rgba(90, 90, 90, 0.3);
    --keyword-text: white;
    --keyword-bg: rgba(25, 25, 25, 0.9);
    --keyword-border: rgba(35, 35, 35, 0.9);
}
