@using System

<div class="damselfly-about">
    <div>
        <img src="damselfly-logo.png" height="200" title="Damselfly" />
    </div>
    <h3>Damselfly v<span />@Version &copy; 2019-@DateTime.Now.Year Mark Otway, All rights reserved.</h3>
    <h4>Server-based Digital Asset Management system</h4>
    <hr />
    <h3>Credits/Thanks</h3>
    <p>
        Powered by <NavLink href="http://blazor.net" target="_blank">Blazor</NavLink>.
        GUI Elements by <NavLink href="https://mudblazor.com/" target="_blank">MudBlazor</NavLink>.
        Icons by <NavLink href="https://fontawesome.com/" target="_blank">Font-Awesome</NavLink>.
        Image Processing by <NavLink href="https://github.com/mono/SkiaSharp" target="_blank">SkiaSharp</NavLink>
        and <NavLink href="https://github.com/SixLabors/ImageSharp" target="_blank">SixLabors ImageSharp</NavLink>
        and <NavLink href="https://imagemagick.org/">ImageMagick</NavLink> <span />.
        Face Detection by <NavLink href="https://www.emgu.com/">EmguCV</NavLink> and <NavLink href="http://accord-framework.net/" target="_blank">Accord.Net</NavLink>.
        Facial recognition by <NavLink href="https://azure.microsoft.com/en-gb/services/cognitive-services/face/">Azure Cognitive Services Face API</NavLink>.
        Object Detection based on <NavLink href="https://github.com/mentalstack/yolov5-net" target="_blank">MentalStack's</NavLink> code.
        <NavLink href="https://exiftool.org/">ExifTool</NavLink> <span />@ExifService.ExifToolVer by Phil Harvey.
        <NavLink href="https://github.com/jellever/DominantColor">Dominant Colour</NavLink> calculation by Jelle Vergeer.
        Maps by <NavLink href="https://www.openstreetmap.org/copyright">OpenStreetMap</NavLink> and <NavLink href="https://www.syncfusion.com/blazor-components">Syncfusion</NavLink>.

    </p>
    <h4> Documentation and Updates</h4>
    <p>
        For documentation etc, see the <NavLink href="https://github.com/webreaper/damselfly">Damselfly Github</NavLink> Page.
        For information, updates and other news about Damselfly:
        <ul>
            <li><NavLink href="https://twitter.com/damselflyphotos"><i class="fab fa-twitter"></i> Twitter</NavLink></li>
            <li><NavLink href="https://reddit.com/r/damselflyphotos"><i class="fab fa-reddit"></i> Reddit</NavLink></li>
        </ul>
    </p>
    <h4> Want to Support Damselfly?</h4>

    <p>
        Damselfly is free, open-source software. But if you find it useful, and fancy buying me a coffee or a slice of pizza, that would
        be appreciated!
        <div>
            <a href="https://www.buymeacoffee.com/damselfly" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/arial-green.png" alt="Buy Me A Coffee" height="41" width="174"></a>
        </div>
    </p>
</div>
@code {
    public string Version
    {
        get
        {
            return System.Reflection.Assembly.GetExecutingAssembly().GetName().Version.ToString();
        }
    }
}
