.object {
    z-index: 50;
    display: none;
    position: absolute;
    padding: 3px;
    font-weight: bold;
    border: 2px solid #555555;
    background-color: rgba(155, 155, 155, 0.35);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    animation: fadeIn ease 0.4s;
}

.object:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border: 3px solid #ffffff;
    animation: fadeIn ease 0.2s;
}

.object-text {
    flex: 1;
    color: black;
    padding: 3px;
    font-size: 14pt;
    font-weight: bold;
    z-index: 60;
    text-shadow: -2px -2px 0 rgb(255, 255, 255, 0.5), 2px -2px 0 rgb(255, 255, 255, 0.5), -2px 2px 0 rgb(255, 255, 255, 0.5), 2px 2px 0 rgb(255, 255, 255, 0.5);
}
.object-editor {
    flex: 1;
    margin: 5px;
    font-size: 10pt;
    min-width: 150px;
    min-height: 40px;
    background: var(--keyword-bg);
}

