
.image-canvas {
    display: flex;
    flex-direction: column;
    width: calc( 100% - 200px);
    height: 100%;
}

.tool-pallette {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    height: 30px;
}

.cropping {
    cursor: crosshair;
}

.loading {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    padding-top: 30px;
    justify-content: center;
}