.imagegrid {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    flex-flow: row wrap;
    overflow-y: auto;
}

.wrapping-table {
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    padding: 5px;
}


.wrapping-table-mini img {
    width: 50px;
    height: auto;
    min-height: 50px;
}

.wrapping-table-small img {
    width: 100px;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
}

.wrapping-table-medium img {
    width: auto;
    height: 200px;
    min-height: 200px;
    min-width: 100px;
}

.wrapping-table-large img {
    width: auto;
    height: 350px;
    min-height: 350px;
    min-width: 100px;
}

.wrapping-table-x-large img {
    width: auto;
    height: 500px;
    min-height: 500px;
    min-width: 100px;
}

@media( max-width: 640px ) {
    .imagegrid {
        display: flex;
        flex: 1 1 auto;
        justify-content: flex-start;
        flex-flow: row wrap;
        overflow-y: auto;
    }

    .wrapping-table-small img {
        width: 50px;
        max-width: 50px;
        max-height: 50px;
        min-height: 50px;
    }

    .wrapping-table-medium img {
        height: 80px;
        min-height: 200px;
        min-width: 80px;
    }

    .wrapping-table-large img {
        height: 150px;
        min-height: 250px;
        min-width: 100px;
    }

    .wrapping-table-x-large img {
        height: 300px;
        min-height: 300px;
        min-width: 100px;
    }
}