
.damselfly-app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: calc(100vh);
    min-height: calc(100vh);
    width: 100vw;
    min-width: 100vw;
    padding: 0px;
}

.rightpane {
    display: flex;
    height: calc(100vh - 30px);
    min-height: calc(100vh - 30px);
    width: 100%;
    min-width: 100%;
    overflow-y: hidden;
}