<div class="progress-spinner">
    @if( ! string.IsNullOrEmpty(ProgressText) )
    {
        <MudText Typo="Typo.body2" Align="Align.Center">@ProgressText</MudText>
    }

    <MudProgressCircular Color="Color.Default" Indeterminate="true" Size="Size.Small"/>
</div>

@code {
    [Parameter] public string ProgressText { get; set; }
}