.statusbar {
    height: 30px;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-image: linear-gradient(180deg, var(--statusbar-gradstart), var(--statusbar-gradend));
} 
