@using Damselfly

@implements IDisposable

@inject IUserStatusService statusService

<div class="damselfly-statusbar">
    <TimedStatus DisplayIntervalSecs="30" StatusText="@StatusText" />
    <WorkStatus />
    <!--
        WASM:
       <LoginDisplay />
    -->
    <Toolbar />
</div>

@code
{
    private string StatusText { get; set; }

    private void UpdateStatus(string newText)
    {
        InvokeAsync(() =>
        {
            if (StatusText != newText)
            {
                StatusText = newText;
                StateHasChanged();
            }
        });
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            statusService.OnStatusChanged += UpdateStatus;
        }
    }

    public void Dispose()
    {
        statusService.OnStatusChanged -= UpdateStatus;
    }

}
