@using System.Linq
@using Damselfly.Web.Data
@using Damselfly.Core.Services
@using Blazored.Typeahead

@inject ThumbnailService thumbService
@inject ExifService iptcService
@inject MetaDataService metadataService
@inject NavigationService navContext
@inject NavigationManager NavigationManager
@inject ContextMenuService contextMenuService

<div class="SearchBox">
    <div class="SearchFieldIcon" title="Add Tags/Keywords"><i class="fa fa-tag" /></div>
    <BlazoredTypeahead disabled="@IsDisabled" class="SearchField" SearchMethod="SearchTags" EnableDropDown="false"
                       placeholder="Add a keyword" Debounce="100"
                       @bind-Value="@TypeAheadTag" @ref="_typeaheadCtrl">
        <SelectedTemplate>
            @{
                CreateNewTags(context);
            }
        </SelectedTemplate>
        <ResultTemplate>
            @context
        </ResultTemplate>
        <NotFoundTemplate>
            @tagSearchText
        </NotFoundTemplate>
    </BlazoredTypeahead>
</div>

@code {
    private string TypeAheadTag { get; set; }
    private string tagSearchText { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; } = false;

    [Parameter]
    public Action<string> OnAddNewtag { private get; set; }

    private BlazoredTypeahead<string, string> _typeaheadCtrl;

    protected override void OnParametersSet()
    {
        // TODO https://github.com/dotnet/aspnetcore/issues/11815
        if (OnAddNewtag == null)
            throw new ArgumentException("No callback specified for OnAddNewTag!");

        base.OnParametersSet();
    }

    private void CreateNewTags(string tag)
    {
        if (!string.IsNullOrEmpty(tag))
        {
            Logging.Log("Saving new tag: " + tag);

            // Reset the tag
            TypeAheadTag = null;
            StateHasChanged();

            // Call the callback
            OnAddNewtag(tag);

            if (_typeaheadCtrl != null)
                _ = _typeaheadCtrl.Focus();
        }
    }

    private async Task<IEnumerable<string>> SearchTags(string text)
    {
        var searchText = text.Trim();

        // Store the search text which is used in the NotFound template
        tagSearchText = searchText;

        // Only query the DB if we have more than 2 chars.
        if (searchText.Length > 1)
        {
            // We include any keyword that contains the search term - but exclude 
            // the actual search term, as we'll add it explicitly at the top of the list. 
            var results = await Task.FromResult(metadataService.CachedTags
                                .Where(x => x.Keyword.Contains(searchText, StringComparison.OrdinalIgnoreCase)
                                            && ! x.Keyword.Equals( searchText, StringComparison.OrdinalIgnoreCase))
                                .OrderBy(x => x.Favourite ? 0 : 1 ) // Favourites first
                                .ThenBy(x => x.Keyword) // Then order alphabetically
                                .Take( 30 ) // Don't go mad with the number we return
                                .Select(t => t.Keyword)
                                .ToList());

            results.Insert(0, searchText);

            return results;
        }

        return new List<string>();
    }
}