.bricklist {
    display: flex;
    margin: 0px;
    padding: 2px;
    flex-flow: row wrap;
    min-height: auto;
    max-height: 250px;
    align-content: flex-start;
    overflow-y: auto;
}

/* Masonary Keywords */
.bricktext {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    margin: 2px;
    padding: 2px 1px 1px 0px;
    flex-wrap: nowrap;
    font-size: 9pt;
    cursor: default;
    color: var(--keyword-text);
    border: 0.5px solid var(--keyword-border);
    border-radius: 6px;
    background-color: var(--keyword-bg);
}

.deletebrick {
    flex: 0 1 auto;
    font-size: 10pt;
    cursor: pointer;
}

.bricktext-label {
    margin: 0 2px 0 2px;
    text-wrap: none;
    flex: 0 1 auto;
}

.bricktext-disabled {
    margin: 0 2px 0 2px;
    color: #999999;
    flex: 0 1 auto;
}

.bricktext :not(:first-child) {
    border-left: 0;
}

.bricktext :not(:last-child) {
    border-right: 0;
}

.deletebrick {
    padding: 0.2em 0.35em;
}
