<configuration>
  <packageSources>
    <clear />
    <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Local" value="./localPackages" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="Nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Local">
      <package pattern="EMGUCV*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
