<configuration>
  <packageSources>
    <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="SkiaSharp Betas" value="https://aka.ms/skiasharp-eap/index.json" />
    <add key="Local" value="./localPackages" />
    <!--add key="dotnet7" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json"  /-->
  </packageSources>
</configuration>
