@charset "UTF-8";
@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: var(--main-background);
    color: var(--body-text);
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Reconnection Scrreen stuff */

.damselfly-reconnect-modal > div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.imagegrid-loader {
    width: 24px;
    height: 24px;
    background-color: var(--body-text);
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

.components-reconnect-hide > div {
    display: none;
}

.components-reconnect-show > div {
    display: none;
}

.components-reconnect-show > .show {
    display: block;
}

.components-reconnect-failed > div {
    display: none;
}

.components-reconnect-failed > .failed {
    display: block;
}

.components-reconnect-rejected > div {
    display: none;
}

.components-reconnect-rejected > .rejected {
    display: block;
}

a, .btn-link {
    color: var( --statusbar-text );
}

a:hover {
    color: var( --body-text) ;
}

.blazored-modal {
    background-color: rgba(30,30,30,0.9);
}

div:: -webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 6px;
    background-color: #444444;
}

div::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0,0,0,0);
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #789878;
}

.main-logo {
    display: flex;
    background: #000000;
    align-items: center;
}

.main-logo img {
    padding: 0;
    width: 250px;
    height: auto;
}

.sidebar {
    display: flex;
    float: right;
    margin: 0;
    width: 100%;
    max-height: calc( 100vh - 100px );
    overflow-y: auto;
}

.toolbar {
    width: 20%;
    margin: 0;
}

.statusbar {
    width: 100%;
    border-width: 0;
    padding: 2px;
    margin: 0;
    background-image: linear-gradient(180deg, var(--statusbar-gradstart), var(--statusbar-gradend) );
}

.btn-primary {
    color: var( --button-text-colour );
    background-color: var( --button-colour);
    border-color: var( --button-border );
    height: 26px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.btn-primary:disabled {
    opacity: 0.5;
}

.image-grid-controls {
    font-size: 12px;
}

.damselfly-pagetitlebar {
    display: flex;
    flex: 1;
    padding: 3px;
    max-height: 30px;
    flex-direction: row;
    justify-content: space-between;
}

.tag-table {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 1em;
    grid-auto-flow: dense;
}

.tag-item {
    /* Center the contents of the grid items, making each grid item a Flex Container */
    display: flex;
    /* Horizontal and Vertical centering */
    justify-content: center;
    padding: 3px;
    align-items: center;
    border: 2px solid #103010;
    color: #309830;
    font-size: 12px;
    background: #105010;
    border-radius: 3px;
}

.wrapping-table {
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    padding: 5px;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}


.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.main .top-row > a {
    margin-left: 1.5rem;
}

.image-props {
  justify-content: flex-end;
}


.selection-toolbar {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.selection-toolbar button {
    font-size: 12px;
    padding: 2px;
}

.selection-scroll-area {
    width: 100%;
    top: 0px;
    height: 200px;
    overflow-y: scroll;
}


.folder-entry {
    animation: fadeIn ease 0.2s;
    color: var( --folder-entry-text);
    padding-left: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.folder-entry:hover {
    animation: fadeIn ease 0.2s;
    background: var( --keyword-bg );
    color: var( --keyword-text );
}

.folder-entry-selected {
    color: var( --folder-entry-text-selected );
    background-color: var( --folder-entry-text-selected-bg );
}

.folder-search {
    padding: 2px;
    width: 100%;
    align-content: center;
    vertical-align: middle;
    font-size: 12pt;
}

.folder-search label {
    width: 100%;
}

.folder-icon{
    padding-right: 5px;
    vertical-align: middle;
    font-size: 16px;
}

.clickable-icon {
    padding: 1px;
    font-size: 1.9em;
    cursor: pointer;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.tasklist-table th {
    padding: 5px, 20px, 5px;
    width: 120px;
    font-weight: bold;
    background-color: var( --tool-window-title-bg );
}

.tasklist-table td {
    padding: 5px, 20px, 5px;
    width: 120px;
}

.grid-checkbox {
    position: absolute;
    bottom: -2px;
    left: -6px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.damselfly-checkbox {
    width: 1.4em;
    height: 1.4em;
    background-color: var( --image-checkbox-bg );
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid var(--image-checkbox );
    -webkit-appearance: none;
    outline: none;
    margin: 2px;
    cursor: pointer;
}

.damselfly-checkbox:hover {
    border: 2px solid var( --image-checkbox-hover-border);
    background-color: darkgreen;
}

.damselfly-checkbox:checked {
    background-color: var( --image-checkbox-checked-bg );
    border: 2px solid var( --image-checkbox-checked-border );
    content: '\2713';
}

.damselfly-checkbox:checked:hover {
    background-color: var( --image-checkbox-checked-hover-bg );
    border: 2px solid var( --image-checkbox-checked-hover-border );
    background-color: green;
}

.grid-text {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5%;
    font-size: 12px;
    color: #579757;
    text-overflow: ellipsis;
}

.grid-image {
    position: relative;
    font-size: 12px;
    border-radius: 4px;
    background: var(--grid-image-bg);
    animation: fadeIn ease 1s;
}

.grid-image img {
    padding: 3px;
}

.grid-image-unselected {
    background-color: var(--grid-image-bg);
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.grid-image-selected {
    background-color: var(--grid-image-selected-bg);
    box-shadow: 1px 1px 0 var( --grid-image-selected-box) inset;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.grid-image-fadein {
    opacity: 1;
}

.centered-and-cropped {
    object-fit: cover
}

.centered-and-cropped img {
    width: 60px;
    height: 60px;
}

.nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.image-content
{
    background-color: rgb(180,180,180);
    width: 66.6%;
}

.image-sidebar
{
    animation: fadeIn ease 1s;
    background-color: rgb(200,200,200);
    width: 33.3%;
}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.selection-item {
    height: 3rem;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}
f

.tagEditor {
    border-color: var( --tag-editor-border );
    background: var( --tag-editor-bg );
    font-size: 13px;
    width: 170px;
}

.tagEditor:disabled {
    background: var( --tag-editor-disabled-bg );
}

.tagEditor-multiline {
    border-color: var( --tag-editor-border );
    color: var( --tag-editor-text );
    background: var( --tag-editor-bg );
    font-size: 12px;
    width: 200px;
    height: 60px;
}

.damselfly-container {
    height: calc( 100vh - 30px );
    display: flex;
    flex-direction: column;
}

.damselfly-statusbar {
    flex: 0 1 30px;
    align-items: center;
    min-height: 30px;
    padding: 5px;
    background-image: linear-gradient(180deg, var( --statusbar-gradstart ), var( --statusbar-gradend ));
    display: flex;
    flex-direction: row;
}

.damselfly-application {
    flex: 1 0 100%;
    display: flex;
    min-height: 100%;
    flex-direction: row;
}

.damselfly-sidebar {
    order: 1;
    flex: 0 0 350px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.damselfly-tagview {
    order: 2;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.damselfly-logview {
    order: 2;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.log-scroll-area {
    width: 100%;
    top: 0px;
    height: calc(100vh - 160px);
    float: left;
}

.damselfly-imagebrowser {
    order: 2;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.damselfly-logo {
    display: flex;
    background-color: black;
    flex: 0 0 50px;
    order: -1;
    justify-content: center;
}

.damselfly-logo img {
    max-height: 60px;
    object-fit: contain;
}


.damselfly-folderlist {
    flex-direction: column;
    flex: 0 1 100%;
    width: 100%;
    max-width: 100%;
    order: 1;
    display: flex;
}

.folder-scroll-area {
    flex-direction: column;
    flex: 1 1 15px;
    overflow-y: auto;
    overflow-x: auto;
}

.damselfly-selectedimages {
    display: flex;
    flex: 1 1 50%;
    order: 2;
    max-height: 250px;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.damselfly-basketmanager {
    order: 3;
}

.damselfly-imageproperties {
    display: flex;
    flex: 3 3 auto;
    order: 1;
    flex-direction: column;
    overflow-y: auto;
    font-size: 13px;
}

.damselfly-exportpanel {
    display: flex;
    flex: 2 2 auto;
    order: 2;
    flex-direction: column;
}


.damselfly-dialogrow {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.damselfly-dialogctrl {
    flex: 1 1 200px;
    margin-right: 6px;
}

.damselfly-dialogctrl-v {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    margin-right: 6px;
}

.damselfly-statusitem {
    display: flex;
    flex: 0 0 auto;
    padding: 5px;
}

.imagefield {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    margin-left: 3px;
    opacity: 0.8;
}

.imagefield-label {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    margin-left: 3px;
    overflow-y: hidden;
    opacity: 0.8;
}

.imagefield-val {
    opacity: 1;
    flex: 1 1 auto;
    font-weight: bold;
    margin-right: 3px;
    margin-left: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.imagefield-edit {
    flex: 1 1 100%;
    border: 0;
    outline: 0;
    margin-left: 2px;
    margin-right: 2px;
    background: transparent;
    color: var( --body-text);
    border-bottom: 1px solid var( --button-border );
}

.dominant-color {
    display: flex;
    padding: 2px;
    border: 1px solid black;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    outline: none;
}

.dominant-color p {
    padding: 1px;
    mix-blend-mode: difference;
    font-weight: bold;
    font-size: larger;
    color: #ffffff;
}

.status {
    flex: 6 0 auto;
    margin-left: 5px;
    text-align: left;
    font-size: 14px;
    vertical-align: middle;
    color: var( --statusbar-text );
}

.damselfly-searchbar {
    display: flex;
    align-items: baseline;
    flex: 0 0 auto;
    flex-flow: row wrap;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 10pt;
}

/* Mobile adaptive changes. WIP */
@media only screen and (max-width: 600px) {
    .damselfly-application { flex-direction: column; }
    .damselfly-imagebrowser { order: 1; }
    .damselfly-imageview{ order: 0; }
    .damselfly-sidebar { order: 2; }
    .damselfly-searchbar { flex-flow: column wrap; }
}

.damselfly-imagegrid {
    display: flex;
    flex: 0 1 auto;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    overflow-y: auto;
    max-height: calc( 100vh - 70px);
}

.damselfly-searchmsg {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1 1;
    animation: fadeIn ease 1s;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.processing-icon {
    margin-right: 3px;
    margin-left: 3px;
    font-size: larger;
}

.image-scroll-area {
    width: 100%;
    top: 0px;
    height: calc(100vh - 160px);
    float: left;
    overflow-y: scroll;
}

.damselfly-imagetools {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex: 0 0 40px;
    min-height: 30px;
    justify-content: space-evenly;
    padding-right: 3px;
    padding-left: 3px;
}

.damselfly-searchtools {
    margin: 2px;
    margin-right: 4px;
    display: flex;
    flex-flow: row;
    align-items: center;
    min-width: 26px;
}

.damselfly-browsetools {
    margin: 3px;
    margin-right: 6px;
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 18px;
}

.damselfly-browsetool {
    display: flex;
    flex: 1;
    margin: 4px;
    flex-flow: row;
}

.damselfly-browsetool-select {
    appearance: none;
    font-size: 10pt;
    padding-left: 3px;
    padding-right: 3px;
    margin: 3px;
    border: 0.5px solid rgba( 0, 0, 0, 0);
    background: var( --main-background );
    color: var( --body-text );
    opacity: 100%;
}

.damselfly-browsetool-select:hover {
    opacity: 90%;
    border: 0.5px solid var( --keyword-border);
    animation: ease-in 0.5s;
}

.damselfly-browsetool:hover {
    opacity: 100%;
}

.damselfly-browsetool-deselected {
    opacity: 50%;
}

.damselfly-searchhint {
    flex: 1 1 auto;
    margin: 3px;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.damselfly-browsetoollabel {
    margin: 2px;
}
.damselfly-gridimage {
    display: flex;
    padding: 3px;
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% {opacity:1;}
}


.damselfly-searchfilter {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row;
    margin-right: 3px;
    align-items: center;
}

.damselfly-exportsettings {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.damselfly-exportsettings div {
    display: flex;
    padding: 5px;
}

.damselfly-imageview{
    display: flex;
    order: 3;
    flex: 1;
    flex-direction: column;
    align-content: center;
}

.damselfly-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    display: flex;
    order: 3;
    flex: 1;
    padding: 5px;
    margin: 5px;
    overflow-y: auto;
}

.damselfly-imagenav {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
}

.damselfly-imagenavitem{
    display: flex;
    flex: 1;
    max-height: 30px;
}

.damselfly-imagepreview {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex: 8;
    padding: 3px;
}

.damselfly-imagetitlebar {
    display: flex;
    align-items: stretch;
    flex: 0 0 auto;
    flex-flow: row wrap;
    font-size: 10pt;
    max-height: 30px;
}

.damselfly-imagetitlenav {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 3px;
    flex: 1;
}

.damselfly-imagetitle {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    padding: 3px;
    flex: 1;
}

.damselfly-imagebuttons {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.damselfly-imagetitle h4 {
    text-align: right;
}

.damselfly-navleft {
    display: flex;
    top: 150px;
    width: 20px;
    height: calc( 100vh - 100px);
    order: 1;
}

.damselfly-imagedisplay{
    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    order: 2;
}

.damselfly-navright {
    display: flex;
    top: 150px;
    width: 20px;
    height: calc( 100vh - 100px);
    order: 3;
}

.image-fill {
    animation: fadeIn ease 1s;
    height: calc( 100vh - 100px);
    width: 100%;
    object-fit: contain;
}

.damselfly-tasks {
    display: flex;
}

.damselfly-taskitem {
    flex: 1;
}

.damselfly-exportview {
    display: flex;
    flex: 1;
    order: 3;
    flex-flow: column;
    overflow-y: auto;
    height: 100%;
}

.damselfly-exportlist {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.damselfly-exportitem {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    margin: 4px;
    padding: 3px;
    background-color: var( --tool-window-bg );
}

.damselfly-exportitem img {
    max-height: 300px;
    max-width: 300px;
}

.damselfly-personimg {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 3px;
}

.damselfly-personimg img {
    height: 120px;
    width: 120px;
}

.damselfly-personfield {
    display: flex;
    flex: 1;
    align-items: center;
    margin-bottom: 6px;
}

.toolwindow {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    color: var( --tool-window-text );
    background-color: var( --tool-window-bg );
    box-shadow: 1px 1px 0 var( --tool-window-shadow ) inset;
}

.toolwindow:last-child {
    flex: 1 0 auto;
}

.toolwindow-titlebar {
    display: flex;
    background-color: var( --tool-window-title-bg );
    color: var( --tool-window-title );
    padding: 3px;
}

.toolwindow-visibletoggle {
    flex-basis: 20px;
    cursor: pointer;
}

.toolwindow-title {
    flex: 1;
    font-weight: bold;
    text-align: center;
}

.toolwindow-content {
    padding: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.wrapping-table-mini img {
    width: 50px;
    height: auto;
    min-height: 50px;
}

.wrapping-table-small img {
    width: 100px;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
}

.wrapping-table-medium img {
    width: auto;
    height: 200px;
    min-height: 200px;
    min-width: 100px;
}

.wrapping-table-large img {
    width: auto;
    height: 350px;
    min-height: 350px;
    min-width: 100px;
}

.wrapping-table-x-large img {
    width: auto;
    height: 500px;
    min-height: 500px;
    min-width: 100px;
}

.damselfly-taglist {
    flex-direction: column;    
}
.damselfly-addtag {
    display: flex;
    flex-direction: row;    
}

.damselfly-addtag div {
    padding: 3px;
    display: flex;    
}

.chevron {
    position: relative;
    padding: 0px;
    height:150px;
    width: 20px;
    margin:20px;
  }

    .chevron:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background: linear-gradient(90deg, var(--statusbar-gradstart), var(--statusbar-gradend));
        -webkit-transform: skew(25deg, 0deg);
        -moz-transform: skew(25deg, 0deg);
        -ms-transform: skew(25deg, 0deg);
        -o-transform: skew(25deg, 0deg);
        transform: skew(25deg, 0deg);
    }

    .chevron:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        height: 50%;
        width: 100%;
        background: linear-gradient(270deg, var(--statusbar-gradstart), var(--statusbar-gradend));
        -webkit-transform: skew(-25deg, 0deg);
        -moz-transform: skew(-25deg, 0deg);
        -ms-transform: skew(-25deg, 0deg);
        -o-transform: skew(-25deg, 0deg);
        transform: skew(-25deg, 0deg);
    }
  
  .flipchevron
  {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  
  }

.damselfly-moreimages {
    width: 0px;
    padding: 0px;
    margin: 0px;
}

.damselfly-imageseparator {
    width: 100%;
    border: 1px;
    margin-top: 5px;
    margin-left: 3px;
    max-height: 28px;
    border-top: 1px solid var( --statusbar-topborder );
    background-image: linear-gradient(90deg, var( --statusbar-gradstart ) 0%, var( --statusbar-gradend ) 90%);
    display: flex;
}

.damselfly-imageseparatortitle {
    padding: 3px;
    flex: 1 1 60%;
    padding-left: 15px;
    font-size: 14px;
}

.damselfly-imageseparatorbuttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
}

.damselfly-imageseparatorbutton button {
    max-height: 22px;
    height: 22px;
    margin: 1px;
}

.SearchBox {
    min-width: 300px;
    display: flex;
    background: transparent;
    padding: 2px;
    margin: 2px;
    margin-top: 4px;
    border: 0;
    border-bottom: 1px solid var( --button-border );
}

.SearchField {
    flex: 1 1 300px;
    border: 0;
    outline: 0;
    margin: 2px;
    background: transparent;
    color: var( --body-text);
}

.SearchFieldIcon {
    color: var( --button-border );
    font-size: larger;
    margin-right: 4px;
    margin-right: 3px;
}

.SearchFieldClear {
    color: var( --button-border );
    font-size: larger;
    margin-right: 2px;
    margin-right: 4px;
}

.InputAddOn {
    display: flex;
}


/* TODO: Rename these */
.InputAddOn-field {
    flex: 1;
    font-size: 10pt;
}

.InputAddOn-field:not(:first-child) {
    border-left: 0;
}

.InputAddOn-field:not(:last-child) {
    border-right: 0;
}

.InputAddOn-item:last-child {
    cursor: pointer;
}

    .InputAddOn-item:last-child:hover {
        color: var( --inputaddon-hover);
    }

.InputAddOn-item {
    background-color: var(--inputaddon-bg);
    color: var(--inputaddon-text);
    font: inherit;
    font-weight: normal;
}

.InputAddOn-field,
.InputAddOn-item {
border: 1px solid var( --inputaddon-border);
padding: 0.4em 0.65em;
}

.InputAddOn-field:first-child,
.InputAddOn-item:first-child {
    border-radius: 2px 0 0 2px;
}

.damselfly-camerafilter {
    max-width: 100px;
}

.damselfly-keywordlist {
    display: flex;
    margin: 0px;
    padding: 2px;
    flex-flow: row wrap;
    min-height: auto;
    max-height: 250px;
    align-content: flex-start;
    overflow-y: auto; 
}

/* Masonary Keywords */
.damselfly-keyword {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    margin: 2px;
    padding: 2px 1px 1px 0px;
    flex-wrap: nowrap;
    font-size: 9pt;
    cursor: default;
    color: var( --keyword-text );
    border: 0.5px solid var( --keyword-border);
    border-radius: 6px;
    background-color: var( --keyword-bg );
}

.damselfly-favouritetag {
    flex: 0 1 auto;
    font-size: 10pt;
    margin: 0 2px 0 0;
    cursor: pointer;
}

.damselfly-favouritetag:hover {
    color: var(--image-checkbox-checked-hover-bg);
}

.damselfly-deletetag {
    flex: 0 1 auto;
    font-size: 10pt;
    cursor: pointer;
}

.damselfly-addfavekeyword {
    cursor: pointer;
}

.damselfly-addfavekeyword:hover {
    cursor: pointer;
    color: rgba(220, 255, 220, 0.9);
    background-color: rgba(85, 135, 85, 0.9);
}

.damselfly-deletetag:hover {
    color: rgba(200, 255, 200, 0.9);
}

.damselfly-keywordtext {
    margin: 0 2px 0 2px;
    text-wrap: none;
    flex: 0 1 auto;
}

.damselfly-keywordtext-disabled {
    margin: 0 2px 0 2px;
    text-wrap: none;
    color: #999999;
    flex: 0 1 auto;
}

.damselfly-keyword :not(:first-child) {
    border-left: 0;
}

.damselfly-keyword :not(:last-child) {
    border-right: 0;
}

.damselfly-keyword,
.damselfly-deletetag {
    padding: 0.2em 0.35em;
}

.damselfly-keywordtool {
    padding: 5px;
}

.desktop-download-icons {
    font-size: 14pt;
    padding: 7px;
    display: flex;
    vertical-align: middle;
}

.damselfly-config {
    padding: 10px;
    order: 3;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}

.damselfly-configsection {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 3px;
}

.damselfly-configsetting {
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.damselfly-configfield {
    flex: 1 0 500px;
}
.damselfly-configfield input {
    width: 400px;
}

.damselfly-configlabel {
    flex: 1 0 400px;
}

.toolbar-hidden {
    display: none;
}


.damselfly-dupelist {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column;
    align-content: flex-start;
    padding: 5px;
}

.damselfly-duplicate {
    display: flex;
    border: 2px solid #669966;
    flex: 1 0 auto;
    max-height: 150px;
    flex-flow: row;
    padding: 5px;
    margin: 5px;
}

.damselfly-dupeimage {
    flex: 1 0 auto;
    max-width: 200px;
    padding: 5px;
}

.damselfly-dupeimage img {
    border: 2px solid #88aa88;
}

.damselfly-dupe-entries {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
}

.damselfly-dupe-entry {
    flex: 1 0 auto;
}

.rz-navigation-item-wrapper {
    padding: 2px;
    font-size: 10pt;
    color: #006600;
    background-color: #ffffff;
}

.rz-navigation-item-text:hover {
    background-color: #006600;
    color: #88DD88;
}

.rz-navigation-item-wrapper:hover {
    background-color: #006600;
    color: #88DD88;
}

.rz-menu:not(.rz-profile-menu) .rz-navigation-item-wrapper {
    padding: 2px 5px !important;
}

.rz-navigation-item-link {
    padding: 1px 1px !important;
}


.rz-splitter-horizontal > .rz-splitter-bar {
    width: 8px;
}

.rz-splitter > .rz-splitter-bar {
    color: var(--tool-window-shadow);
/*    background-color: var(--tool-window-bg); */
    background-image: linear-gradient(90deg, var(--statusbar-gradstart), var(--statusbar-gradend) ); 
    opacity: 0.7;
}

.rz-splitter:hover > .rz-splitter-bar:hover {
    opacity: 1;
    color: var(--tool-window-bg);
    background-image: linear-gradient(90deg, var(--statusbar-gradstart), var(--statusbar-gradend) );
}

.rz-splitter:active > .rz-splitter-bar:active {
    opacity: 1;
    background-color: var(--tool-window-title-bg);
}

hr.separator {
    width: 99%;
    margin: 1px;
    border-top: 1px solid #999999;
}

.damselfly-alltags {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.damselfly-singletag {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    margin: 2px;
    padding: 2px 1px 1px 0px;
    flex-wrap: nowrap;
    font-size: 9pt;
    cursor: default;
    border: 0.5px solid var(--keyword-border);
    border-radius: 3px;
    background-color: var(--keyword-bg);
}

.loglist-table {
    position: relative;
}

.loglist-table th {
    padding: 5px, 20px, 5px;
    width: 100%;
    position: sticky;
    top: 0;
    font-weight: bold;
    background-color: #004400;
}

.loglist-table td {
    padding: 5px, 20px, 5px;
    width: 100%;
}

.loglist-table th.timestamp {
    width: 10%;
}

.loglist-table th.level {
    width: 10%;
}

.loglist-table th.thread {
    width: 10%;
}

.loglist-table td.timestamp {
    width: 10%;
}

.loglist-table td.level {
    width: 10%;
}

.log-level-WRN {
    color: orange;
}

.log-level-ERR {
    color: red;
}

.loglist-table td.thread {
    width: 10%;
}

.log-table {
    margin: 5px;
    max-height: 100%;
    overflow: auto;
}

.img-zoom-container {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 50px;
    height: 50px;
}

.objects-box {
    display: inherit;
    position: absolute;
    border: none;
    background-color: transparent;
    left: -10000px;
    top: -10000px;
    width: 0px;
    height: 0px;
}

.object {
    z-index: 50;
    display: none;
    position: absolute;
    padding: 3px;
    font-weight: bold;
    border: 2px solid #555555;
    background-color: rgba(155,155,155,0.35);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    animation: fadeIn ease 0.4s;
}

.object:hover {
    background-color: rgba(255,255,255,0.25);
    border: 3px solid #ffffff;
    animation: fadeIn ease 0.2s;
}

.object-text {
    flex: 1;
    color: black;
    padding: 3px;
    font-size: 14pt;
    font-weight: bold;
    z-index: 60;
    text-shadow: -2px -2px 0 rgb( 255, 255, 255, 0.5 ), 2px -2px 0 rgb( 255, 255, 255, 0.5 ), -2px 2px 0 rgb( 255, 255, 255, 0.5 ), 2px 2px 0 rgb( 255, 255, 255, 0.5 );
}

.img-zoom-result {
    z-index: 100;
    border: 1px solid rgba(130, 130, 130, 0.6);
    position: absolute;
    display: none;
    animation: fadeIn ease 1s;
    height: calc( 100vh - 100px);
    width: 100%;
    cursor: zoom-in;
    background-repeat: no-repeat;
}

.object-editor {
    flex: 1;
    font-size: 10pt;
    min-width: 200px;
    min-height: 20px;
    max-height: 28px;
    background: var( --keyword-bg );
}

.damselfly-toolbarbutton {
    vertical-align: top;
    color: var( --keyword-bg );
}

.damselfly-toolbarbutton:hover {
    color: var( --image-checkbox-checked-hover-bg );
}

.damselfly-statusbarpanel {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    margin: 2px;
    padding: 2px 3px 1px 3px;
    flex-wrap: nowrap;
    font-size: 9pt;
    cursor: default;
    border: 0.5px solid var( --keyword-border);
    border-radius: 1px;
    color: var( --keyword-text );
    background-color: var( --keyword-bg );
    margin-left: 3px;
    margin-right: 3px;
}


.damselfly-toolbarbutton-disabled {
    opacity: 65%;
}

.damselfly-toolbarbutton-disabled:hover {
    color: var( --keyword-bg );
}

.damselfly-textsearchoptions {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3px;
}

.blazored-typeahead__loader {
    display: none;
}

.blazored-typeahead__input-mask-wrapper--disabled {
    min-height: 32px;
    background: lightgrey;
}

.blazored-typeahead__input-mask-wrapper {
    background: white;
    color: black;
    padding-left: 4px;
}

.container {
    display: flex;
    flex-direction: column;

    flex: 1;
    margin-left: 50px;
}

.login-container {
    display: flex;
    flex-direction: row;

    flex: 1 ;
    margin: 50px;
}

.login-fieldset {
    display: flex;
    flex-direction: column;

    flex: 1;
    font-size: 14pt;
}

.login-fieldrow {
    display: flex;
    flex-direction: column;

    flex: 1;
    margin: 5px;
}

.login-fieldlabel {
    flex: 1;
    font-size: 10pt;
    margin: 3px;
}

.login-fieldcontrol {
    flex: 1;

    font-size: 12pt;
    max-width: 350px;
    padding: 5px;
    margin: 3px;
    border-radius: 3px;
}

.text-danger {
    flex: 1;
    font-size: 12pt;
    color: orangered;
    animation: ease-in 0.5s;
}

.btn-login {
    font-size: 12pt;
    width: 200px;
    margin: 3px;
}


.damselfly-ratingstar {
    margin-left: 3px;
}

.damselfly-ratingstarmouse:hover {
    color: var( --image-checkbox-checked-hover-bg );
}

/* Autocomplete */

.blazored-typeahead__results {
    background: var( --folder-entry-text-selected-bg );
    color: var( --folder-entry-text-selected );
}

.blazored-typeahead {
    border: 0;
}

.blazored-typeahead__input {
    border: 0;
    color: var( --body-text );
    background: transparent;
    padding: 2px;
    outline-color: var( --statusbar-topborder);
}

.blazored-typeahead__selected-item {
    background-color: var( --folder-entry-text);
    font-weight: bold;
}

.blazored-typeahead__selected-item-highlighted {
    background-color: var( --folder-entry-text-selected );
}

.blazored-typeahead__active-item,
.blazored-typeahead__result:hover,
.blazored-typeahead__result:focus {
    color: var( --tag-editor-text );
    background-color: var( --image-checkbox-hover-bg );
    border-top: 1px solid var( --tag-editor-border );
    border-bottom: 1px solid var( --tag-editor-border );
}

.blazored-typeahead__input-mask-wrapper--disabled {
    border: 0;
    background: transparent;
    color: lightgrey;
    min-height: 20px;
}

.blazored-typeahead__input-mask {
    border: 0;
    background: transparent;
    padding: 0;
    min-height: 20px;
}

.blazored-typeahead__input-icon--disabled,
.blazored-typeahead__input-icon--disabled:hover {
    display: none;
}

.blazored-typeahead__input-mask-wrapper {
    display: flex;
    width: 100%;
    background: transparent;
}

.blazored-typeahead__multi-value {
    background-color: var(--tag-editor-bg);
}

.blazored-typeahead__clear {
    color: var( --button-border );
    display: none;
}

.fa-spin-25 {
    -webkit-animation: fa-spin 3s infinite linear;
    animation: fa-spin 3s infinite linear;
}

.fa-spin-50 {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.fa-spin-75 {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}

.fa-spin-100 {
    -webkit-animation: fa-spin 0.5s infinite linear;
    animation: fa-spin 0.5s infinite linear;
}