
.folderlist {
    flex-direction: column;
    flex: 0 1 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
}

.folder-scroll-area {
    flex-direction: column;
    flex: 1 1 15px;
    overflow-y: auto;
    overflow-x: auto;
}

.folder-entry {
    animation: fadeIn ease 0.2s;
    color: var(--folder-entry-text);
    padding-left: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.folder-icon {
    width: 20px;
}

.folder-entry-selected {
    color: var(--folder-entry-text-selected);
    background-color: var(--folder-entry-text-selected-bg);
}

.folder-search {
    padding: 2px;
    width: 100%;
    align-content: center;
    vertical-align: middle;
    font-size: 12pt;
}

.folder-search label {
    width: 100%;
}

.folder-icon {
    padding-right: 5px;
    vertical-align: middle;
    font-size: 16px;
}

