<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Damselfly</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/themes/green.css" />
</head>
<body>
    <header>
        <div>
            <img src="~/damselfly-logo.png" height="200" title="Damselfly" />
        </div>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Damselfly &copy; 2019 - @DateTime.UtcNow.Year Mark Otway
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>