
.grid-image {
    position: relative;
    font-size: 12px;
    border-radius: 4px;
    margin: 3px;
    background: var(--grid-image-bg);
    animation: fadeIn ease 1s;
}

.grid-image img {
    padding: 3px;
}

.grid-image-unselected {
    background-color: var(--grid-image-bg);
    opacity: 0;
    transition: all 0.1s ease-in;
}

.grid-image-selected {
    background-color: var(--grid-image-selected-bg);
    border: 3px solid var(--grid-image-selected-bg);
    box-shadow: 1px 1px var(--grid-image-selected-box) inset;
    opacity: 0;
    padding: 6px !important;
    transition: all 0.1s ease-in;
}

.grid-image-fadein {
    opacity: 1;
}

.grid-image-text {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5%;
    font-size: 12px;
    color: #579757;
    text-overflow: ellipsis;
}

@keyframes border-dance {
    0% {
        background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
    }
    100% {
        background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
    }
}
