@inject ISearchService searchService 

    <div class="imagebrowser">
        <DetailedErrorBoundary>
            <MudSwipeArea OnSwipe="HandleSwipe" style="display: flex; flex: 1; min-height: 0;">
                <SearchBar OnGridSizeChanged="GridSizeChanged"/>
            </MudSwipeArea>
            <ImageGrid CurrentGridSize="@gridSize"/>
        </DetailedErrorBoundary>
    </div>
    
@code {
    private GridImageSize gridSize { get; set; }

    private void HandleSwipe( SwipeDirection direction )
    {
        if( direction == SwipeDirection.TopToBottom )
            searchService.Refresh();
    }
    
    private void GridSizeChanged(GridImageSize newSize)
    {
        gridSize = newSize;
        StateHasChanged();
    }

}