@using Damselfly.Web.Data
@using Damselfly.Core.Services;
@inject ImageService imageService
@inject ThumbnailService thumbService

@if (CurrentTag == null)
{
    <p><em>Loading tag...</em></p>
}
else
{
    <div class="tag-item">
        <p><a href="/tag/@CurrentTag.Keyword">@CurrentTag.Keyword</a>&nbsp;<span @onclick="RemoveTag" Title="Remove Tag">X</span></p>
    </div>
}

@code {
    [Parameter]
    public Tag CurrentTag { get; set; }
    [Parameter]
    public Image[] CurrentImages { get; set; }

    public void RemoveTag()
    {
        Logging.Log("Removing tag");
    }
}
