:root {
    --main-background: #202020;
    --body-text: #dedede;
    --statusbar-text: #f8f8f8;
    --statusbar-gradstart: rgb(100, 100, 100) 0%;
    --statusbar-gradend: rgb(60, 60, 60) 70%;
    --statusbar-topborder: rgba(130,130,130,0.75);
    --button-colour: #bbbbbb;
    --button-text-colour: black;
    --button-border: #999999;
    --folder-entry-text: #dddddd;
    --folder-entry-text-selected: darkgray;
    --folder-entry-text-selected-bg: #dddddd;
    --inputaddon-bg: rgba(235, 235, 235, 0.9);
    --inputaddon-text: #555555;
    --inputaddon-hover: rgba(150, 150, 150, 0.9);
    --inputaddon-border: rgba(100, 100, 100, 0.25);
    --image-checkbox: #aaaaaa;
    --image-checkbox-bg: rgba( 0, 0, 0, 0.2);
    --image-checkbox-hover-border: #aaaaaa;
    --image-checkbox-hover-bg: darkgrey;
    --image-checkbox-checked-border: #777777;
    --image-checkbox-checked-bg: #aaaaaa;
    --image-checkbox-checked-hover-border: #777777;
    --image-checkbox-checked-hover-bg: grey;
    --grid-image-bg: rgba(150,150,150,0.35);
    --grid-image-selected-bg: rgba(180,180,180,0.75);
    --grid-image-selected-box: rgba(225, 255, 225, 0.7);
    --tag-editor-disabled-bg: rgb( 200, 200, 200 );
    --tag-editor-text: #aaaaaa;
    --tag-editor-border: #444444;
    --tag-editor-bg: #444444;
    --tool-window-text: #dddddd;
    --tool-window-bg: rgba(100, 100, 100, 0.3);
    --tool-window-shadow: rgba(225, 225, 225, 0.7);
    --tool-window-title: #CFCFCF;
    --tool-window-title-bg: rgba(160, 160, 160, 0.3);
    --keyword-text: black;
    --keyword-bg: rgba(225, 225, 225, 0.9);
    --keyword-border: rgba(245, 245, 245, 0.9);
}
