@using Damselfly.Core.Services;
@using Damselfly.Web.Shared;

@inject TaskService taskScheduler

<div class="damselfly-config">
    <div class="damselfly-configsection">
        <h1>Damselfly Configuration Settings</h1>
    </div>
    <div class="damselfly-configsection">
        <EditForm Model="@wpSettings" OnValidSubmit="@HandleValidSubmit">
            <FluentValidationValidator />
            <ValidationSummary />

            <div class="damselfly-configsetting">
                <div class="damselfly-configlabel">
                    <label>Run full index at startup:</label>
                </div>
                <div class="damselfly-configfield">
                    <InputCheckbox @bind-Value="fullIndexAtStartup" />
                </div>
            </div>

            <div class="damselfly-configsetting">
                <div class="damselfly-configlabel">
                    <label>Embed Sidecar (XMP/OM1) keywords during indexing:</label>
                </div>
                <div class="damselfly-configfield">
                    <InputCheckbox @bind-Value="importSidecarKeywords" />
                </div>
            </div>

            <h2>Wordpress Upload</h2>

            <div class="damselfly-configsetting">
                <div class="damselfly-configlabel">
                    <label>URL:</label>
                </div>
                <div class="damselfly-configfield">
                    <InputText placeholder="Wordpress URL" @bind-Value="wpSettings.URL" />
                </div>
            </div>
            <div class="damselfly-configsetting">
                <div class="damselfly-configlabel">
                    <label>User Name:</label>
                </div>
                <div class="damselfly-configfield">
                    <InputText placeholder="User Name" @bind-Value="wpSettings.UserName" />
                </div>
            </div>
            <div class="damselfly-configsetting">
                <div class="damselfly-configlabel">
                    <label>Password:</label>
                </div>
                <div class="damselfly-configfield">
                    <InputText type="password" placeholder="Password" @bind-Value="wpSettings.Password" />
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Save Config</button>
        </EditForm>

    </div>

    <div class="damselfly-configsection">
        <hr/>
        <h2>Task Statuses:</h2>
    </div>
    <div class="damselfly-configsection">
        <TaskList />
    </div>
</div>

@code {
    private WordpressSettings wpSettings = new WordpressSettings();
    private bool importSidecarKeywords = false;
    private bool fullIndexAtStartup = true;

    private void HandleValidSubmit()
    {
        ConfigService.Instance.Set(ConfigSettings.ImportSidecarKeywords, importSidecarKeywords.ToString());
        ConfigService.Instance.Set(ConfigSettings.FullIndexAtStartup, fullIndexAtStartup.ToString());

        ConfigService.Instance.Set(ConfigSettings.WordpressURL, wpSettings.URL);
        ConfigService.Instance.Set(ConfigSettings.WordpressUser, wpSettings.UserName);
        ConfigService.Instance.Set(ConfigSettings.WordpressPassword, wpSettings.Password);

        // WP Settings have changed, so reset the client and token
        WordpressService.Instance.ResetClient();

        StatusService.Instance.StatusText = "Settings saved.";
    }

    protected override void OnInitialized()
    {
        wpSettings.URL = ConfigService.Instance.Get(ConfigSettings.WordpressURL);
        wpSettings.UserName = ConfigService.Instance.Get(ConfigSettings.WordpressUser);
        wpSettings.Password = ConfigService.Instance.Get(ConfigSettings.WordpressPassword);
        importSidecarKeywords = ConfigService.Instance.GetBool(ConfigSettings.ImportSidecarKeywords);
        fullIndexAtStartup = ConfigService.Instance.GetBool(ConfigSettings.FullIndexAtStartup);
        base.OnInitialized();
    }

    private void RunTask(ScheduledTask task)
    {
        taskScheduler.EnqueueTaskAsync(task);
    }
}
