
@inject ImageService ImgService
@inject SearchService searchService
@inject FolderService folderService
@inject SelectionService selectionService;

<div class="damselfly-keywordtool">
    <TagList TrackSelection="true"/>
</div>

@code {
}
