@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div><NavLink href="Identity/Account/Manage">@context.User.Identity?.Name</NavLink></div>
        <div><button class="btn btn-primary sign-out" @onclick="BeginSignOut">Sign out</button></div>
    </Authorized>
    <NotAuthorized>
        <div>
            <NavLink href="Identity/Account/Login">Log in</NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    void BeginSignOut()
    {
        // TODO? await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("Identity/Account/Logout");
    }
}