
@inject BasketService basketService
@inject ConfigService configService 
@inject IJSRuntime JsRuntime
@inject NavigationManager navManager

<div class="damselfly-exportpanel">
    <label for="logLevel">Log Level: </label>
    <select name="logLevel" value="@LogLevel">
        @foreach (var choice in logLevels)
        {
            <option value="@choice">
                @choice.ToString()
            </option>
        }
    </select>
</div>

@code {
    List<string> logLevels = new List<string> { "Normal", "Verbose", "Trace" };
    public string LogLevel { get { return logLevel; } set { ChangeLogLevel(value); } }
    private string logLevel = "Normal";

    private void ChangeLogLevel(string newLevel)
    {
        logLevel = newLevel;

        if (logLevel == "Normal")
        {
            Logging.ChangeLogLevel(Serilog.Events.LogEventLevel.Information);
        }
        else if (logLevel == "Verbose")
        {
            Logging.ChangeLogLevel(Serilog.Events.LogEventLevel.Verbose);
        }
        else if (logLevel == "Trace")
        {
            Logging.ChangeLogLevel(Serilog.Events.LogEventLevel.Debug);
        }

        configService.Set("LogLevel", logLevel);
    }
}