
@inherits LayoutComponentBase

    <RadzenContextMenu />

    <div class="damselfly-container">
        <div class="damselfly-application">
            <SideBar />
            @Body
        </div>
        <Statusbar />
    </div>
