
@inject UserConfigService configService
@inherits LayoutComponentBase

<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.Small" />
<RadzenContextMenu />

<ErrorBoundary>
    <ChildContent>
        <CascadingAuthenticationState>
            <LoginForcer />
            <ThemeSwitcher />
            <div class="damselfly-container">
                <div class="damselfly-application">
                    <SplitView>
                        <LeftPane>
                            <SideBar />
                        </LeftPane>
                        <RightPane>
                            @Body
                        </RightPane>
                    </SplitView>
                </div>
                <Statusbar />
            </div>
        </CascadingAuthenticationState>
    </ChildContent>
    <ErrorContent>
        <p>An error occurred. Please check the Damselfly logs and reload the page.</p>
    </ErrorContent>
</ErrorBoundary>
@code{
}


