
@inherits LayoutComponentBase

<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.Small" />
<RadzenContextMenu />

<CascadingAuthenticationState>
    <LoginForcer/>
    <ThemeSwitcher />
    <div class="damselfly-container">
        <div class="damselfly-application">
            <ErrorBoundary>
                <SideBar />
            </ErrorBoundary>
            <ErrorBoundary>
                @Body
            </ErrorBoundary>
        </div>
        <ErrorBoundary>
            <Statusbar />
        </ErrorBoundary>
    </div>

</CascadingAuthenticationState>

@code{
}


