
@inherits LayoutComponentBase

<MudThemeProvider Theme="@darkTheme" />
<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.Small" />
<RadzenContextMenu />

<CascadingAuthenticationState>
    <ThemeSwitcher />
    <div class="damselfly-container">
        <div class="damselfly-application">
            <ErrorBoundary>
                <SideBar />
            </ErrorBoundary>
            <ErrorBoundary>
                @Body
            </ErrorBoundary>
        </div>
        <ErrorBoundary>
            <Statusbar />
        </ErrorBoundary>
    </div>

</CascadingAuthenticationState>

@code{
    private MudTheme darkTheme = new MudTheme
    {
        Palette = new Palette
        {
            Primary = "#99BB99",
            PrimaryDarken = "#779977",
            PrimaryLighten = "#AADDAA",
            Black = "#272f27",
            Background = "#323d33",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            DrawerIcon = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            Divider = "rgba(255,255,255, 0.12)",
            DividerLight = "rgba(255,255,255, 0.06)",
            TableLines = "rgba(255,255,255, 0.12)",
            LinesDefault = "rgba(255,255,255, 0.12)",
            LinesInputs = "rgba(255,255,255, 0.3)",
            TextDisabled = "rgba(255,255,255, 0.2)"
        }
    };
}


