@using Damselfly

@inject StatusService statusService

<div class="damselfly-statusbar">
    <Toolbar />
    <TimedStatus DisplayIntervalSecs="30" StatusText="@StatusText" />
</div>

@code
{
    private string StatusText { get; set; }

    private void UpdateStatus(string newText)
    {
        InvokeAsync(() =>
        {
            StatusText = newText;
            StateHasChanged();
        });
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            statusService.OnChange += UpdateStatus;
        }
    }

    public void Dispose()
    {
        statusService.OnChange -= UpdateStatus;
    }

}
