
<span title="@title" class="fa-stack damselfly-toolbarbutton">
    <i class="@EnabledStyle fa-circle fa-stack-2x"></i>
    @if (Enabled)
    {
        <i class="fas @IconStyle fa-stack-1x fz-inverse" style="color: @TextColour;" @onclick="@OnClickCallback"></i>
    }
</span>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }

    [Parameter]
    public bool Selected { get; set; } = true;

    [Parameter]
    public string IconStyle { get; set; }

    [Parameter]
    public bool Enabled { get; set; } = true;

    [Parameter]
    public string title { get; set; }

    private string EnabledStyle => Selected ? "fas" : "far";
    private string TextColour => Selected ? " var( --keyword-text )" : " var( --body-text )";
}
