
<div class="toolwindow">
    <div class="toolwindow-titlebar">
        <div class="toolwindow-title">@Title</div>
        <div class="toolwindow-visibletoggle">
            @if (Collapsed)
            {
                <i class="fas fa-chevron-down" @onclick="@(() => ExpandDisplay())" />
            }
            else
            {
                <i class="fas fa-chevron-up" @onclick="@(() => CollapseDisplay())" />
            }
        </div>
    </div>
    <div class="toolwindow-content @DisplayClass">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public string DisplayClass { get; set; } = string.Empty;
    public bool Collapsed { get; set; } = false;

    private string ConfigName
    {
        get { return $"{Title}Visible";  }
    }

    protected override void OnInitialized()
    {
        var visible = ConfigService.Instance.Get(ConfigName, "True");

        if (visible == "False")
            CollapseDisplay();
    }

    private void ExpandDisplay()
    {
        Collapsed = false;
        DisplayClass = string.Empty;
        ConfigService.Instance.Set(ConfigName, "True");
    }

    private void CollapseDisplay()
    {
        Collapsed = true;
        DisplayClass = "toolbar-hidden";
        ConfigService.Instance.Set(ConfigName, "False");
    }
}
