@page "/about"

@inject ViewDataService ViewDataService

<div class="damselfly-about">

    <About />
</div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ViewDataService.SetSideBarState(new ViewDataService.SideBarState { ShowFolderList = true, ShowBasket = true });
        }
    }
}