@page "/config"

@inject ViewDataService ViewDataService

<div class="damselfly-config">

    <Config />
</div>

    @code {
        protected override void OnAfterRender(bool firstRender)
        {
            if (firstRender)
            {
                ViewDataService.ShowFolderList = true;
                ViewDataService.ShowExport = false;
                ViewDataService.ShowBasket = true;
            }
        }
    }
