@page "/export"

@inject BasketService basketService
@inject ViewDataService ViewDataService
@inject IJSRuntime JsRuntime
@inject NavigationManager navManager  

@using Damselfly.Core.ImageProcessing


<div class="damselfly-exportview">
    <div>
        <div class="damselfly-imagenavitem">
            <NavLink href="/"><i class="clickable-icon fa fa-reply" /></NavLink>
            <h4 class="image-title">
                Export Images
            </h4>
        </div>
    </div>
    <div class="damselfly-exportlist">
        @if (images != null)
        {
            @foreach (var img in images)
            {
                <div class="damselfly-exportitem">
                    <div>
                        <img title="@img.Image.FileName" src="@img.ThumbURL" style="max-width:100px;">
                    </div>
                    <div>
                        @img.Image.FileName
                    </div>
                    <div>
                        @img.Image.Folder.Name
                    </div>
                </div>

            }
        }
        else
        {
            <p>Loading selection...</p>
        }
    </div>
            </div>

@code {
    readonly List<ListableImage> images = new List<ListableImage>();


    public Task<List<ListableImage>> LoadData()
    {
        var watch = new Stopwatch("ExportLoadData");
        images.Clear();
        images.AddRange(basketService.SelectedImages.Select(x => new ListableImage(x, ThumbSize.Small)));
        watch.Stop();

        return Task.FromResult(images);
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ViewDataService.SetSideBarState(new ViewDataService.SideBarState { ShowExport = true });

            await LoadData();

            StateHasChanged();
        }
    }

}
