@page "/"
@page "/folder/{FolderId}"

@using Damselfly.Web.Data
@using Damselfly.Core.Services;
@using Damselfly.Web.Shared.Images;

@inject ImageService imageService
@inject ThumbnailService thumbService
@inject ViewDataService ViewDataService
@inject NavigationService navContext
@inject SearchService searchService
@inject UserStatusService statusService
@inject IModalService Modal

<div class="damselfly-imagebrowser">
    <ErrorBoundary>
        <SearchBar />
    </ErrorBoundary>
    <ErrorBoundary>
        <ImageGrid />
    </ErrorBoundary>
</div>

@code { [Parameter]
    public string FolderId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (int.TryParse(FolderId, out var fID))
        {
            var folder = await ImageService.GetFolderAsync(fID);

            if (folder != null)
            {
                statusService.StatusText = $"Selected folder {folder.Name}";
                searchService.Folder = folder;
            }
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        navContext.CurrentImage = null;

        ViewDataService.SetSideBarState(new ViewDataService.SideBarState { ShowFolderList = true, ShowBasket = true, ShowTags = true });
    }

    // TODO: Don't think we need this
    [JSInvokable]
    // Debugging assistant to help us differentiate between JS calls and other data loads
    public void GetUpdateState(string clientVersion)
    {
        Logging.Log($"Checking for update: {clientVersion}");

    } }