@page "/tag"
@page "/tag/{TagName}"

@using Damselfly.Web.Data
@using System.IO;
@using Damselfly.Web.Shared.Images;
@using Damselfly.Core.Services;
@inject ThumbnailService thumbService
@inject ViewDataService ViewDataService

<div class="damselfly-tagview">
    @if (images == null)
    {
        if (tags == null)
        {
            <p><em>Loading tags...</em></p>
        }
        else
        {
            <div class="damselfly-alltags">
                @foreach (var tag in tags)
                {
                    <div class="damselfly-singletag">
                        <NavLink href="/tag/@tag">@tag</NavLink>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <div class="top-row">
            <h4>Tag: @TagName</h4>
        </div>
        <div class="wrapping_table">
            @foreach (var image in images)
            {
                <GridImage CurrentImage=@image />
            }
        </div>
    }
</div>
@code {
    [Parameter]
    public string TagName { get; set; }

    Image[] images;
    string[] tags;

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(TagName))
        {
            images = await ImageService.GetTagImagesAsync(TagName);
            tags = null;
            StateHasChanged();
        }

        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        // TODO: Called twice?
        if (string.IsNullOrEmpty(TagName))
        {
            ViewDataService.SetSideBarState(new ViewDataService.SideBarState { ShowBasket = true });
            tags = await ImageService.GetAllTagsAsync(null);
            images = null;
        }
    }
}
