@page
@model Damselfly.Areas.Identity.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Password reset instructions sent";
}

<h1>@ViewData["Title"]</h1>

<div class="login-container">
    <div class="login-fieldset">
        <h4>Please check your email to reset your password.</h4>
        <div class="login-fieldrow">
            <div class="login-fieldcontrol">
                <a href="~/Identity/Account/Login">Log in with existing account</a>
            </div>
        </div>
    </div>
</div>
